div#toptitle {
	padding-top: 0.5em;
	padding-bottom: 0em;
	margin-bottom: 1em;
}

li {
	margin-bottom: 0.3em;
}

#layout-content {
	padding-left: 1.5em;
	padding-right: 1.5em;
}

img {
	border: none;
}