<?xml version="1.0"?>
<!--
Web.config file for rss_editor.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />
  </system.web>
</configuration>